.order-bg-img {
  height: 110vmin;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: all 1s;
  background-size: cover !important;
  /* object-fit: contain; */
  background-repeat: no-repeat !important;
  background-position: 50% 50%;
  /* margin-top: 4rem; */
}

.order-sec2 {
  height: 5vmax;
  background-color: #0d1786;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-text1 {
  font-size: 1.2rem;
  color: #fff;
  font-family: pun-bold;
}

.order-text2 {
  font-family: pun;
}

.order-sec3 {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.order-f1 {
  /* max-width: 600px; */
  width: 85%;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #0d1786 !important;
}

.sel-phone {
  border-radius: 4px 0 0 4px !important;
  display: flex !important;
  align-items: center !important;
  background-color: #cdcbcb;
}

.feat-root {
  min-height: 30vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.feat-circle {
  border-radius: 50%;
  border: 2px solid #0d1786;
  width: 100px;
  max-width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large !important;
  color: #2f2f2f;
}

.feat-circle:hover {
  background-color: #0d1786;
  color: #fff;
  transition: all 0.3s;
}

.feat-text1 {
  font-size: 1.2rem;
  color: #2f2f2f;
  font-family: pun-bold;
}
.feat-text2 {
  font-size: 0.9rem;
  color: #2f2f2f;
  text-align: center;
  font-family: pun;
}

.feat-dvider {
  border-inline: 1px solid #d7d3d3;
}

@media only screen and (max-width: 600px) {
  .order-bg-img {
    height: 60vmin;
    /* margin-top: 3.5rem; */
  }
  .order-sec2 {
    height: 8vmax;
  }
}
