.box13 {
  fill: #0d1786;
  background-color: #0d1786;
  stroke-width: 1px;
  stroke: var(--Stroke, #e7e7e7);
  width: 40.537px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.box12 {
  height: 25vh;
  width: 100%;
  border-radius: 8px;
  border: 1px dashed #d8d8d8;
  background: #f5f7ff;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MuiDataGrid-footerContainer {
  direction: ltr !important;
}
