@font-face {
  font-family: "pun";
  src: local("pun"), url(./assets/fonts/PNU-Regular.ttf);
}
@font-face {
  font-family: "pun-bold";
  src: local("pun-bold"), url(./assets/fonts/PNU-Bold.ttf);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
